<div class="manage-container">
  <p>Price</p>
  <div class="manage-info">
    <div class="manage-price-left">
      $<%= @island.price %>
    </div>
    <div class="manage-price-right">
      /day
    </div>
  </div>
  <div class="manage-form">
    <b>Manage Your Island</b>
  </div>

  <%= link_to edit_island_path(@island) do%>
    <div class="manage-button">
      Edit Island
    </div>
  <% end %>
  <%= link_to island_path(@island), method: :delete, data: { confirm: "Are you sure?" } do %>
  <div class="manage-button">
    Delete Island
  </div>
  <% end %>
</div>
