<div class="manage-container">
  <p>Price</p>
  <div class="manage-info">
    <div class="manage-price-left">
      $<%= @island.price %>
    </div>
    <div class="manage-price-right">
      /day
    </div>
  </div>
  <div class="manage-form">
    manage form
  </div>
  <div class="manage-button">
    buttons
  </div>
</div>
