
<div class="container" style="text-align: center">
  <ul>
    <li><%=  island.name %></li>
    <li><%= island.location %></li>
    <li><%= link_to "go to island", island_path(island) %> </li>
  </ul>
</div>
