<div class="container">
<h3 style="text-align: center"> Search results </h3>
<% if @islands.blank? %>
  <p style="color:#888; font-size:16px; text-align: center;">No islands matching your criteria are currently available.</p>
<% end %>
  <div class="row">
    <% @islands.each do |i| %>
    <div class="col-xs-12 col-sm-4">
     <%= link_to island_path(i) do %>
     <div class="card" style="background-image: linear-gradient(-90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.7)), url('<%= cl_image_path i.photo, crop: :fill %>')">
      <div class="card-category">
        <%= i.location.capitalize.truncate_words(3) %>
      </div>
      <div class="card-description">
        <h2><%= i.name.truncate_words(8) %></h2>
        <% i.average.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - i.average).times do %>
          <i class="far fa-star"></i>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
