.island-container {
  width: 100%;
  background-color: #fff;
}

.photos-container {
  width: 100vw;
  height: 500px;
  background-color: #fff;
  text-align: center;
}

.photo {
  width: 100vw;
}

.island-wrapper {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: 0 auto;
  width: 1000px;
  padding: 20px 40px 20px 40px;
}

.island-info {
  flex: 650px;
  h1 {
    line-height: 20px;
    font-size: 36px;
  }
  h5 {
    font-weight: bold;
    font-size: 16px;
  }
  h3 {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 16px;
    color: #6b7daf;
  }
  h2 {
    font-weight: thin;
    font-size: 24px;
    color: #aaaaaa;
  }
  p {
    font-size: 14px;
  }
  margin-right: 30px;
}

.island-book {
  flex: 350px;
  border: 1px solid #bbbbbb;
  height: 280px;
  margin-top: 15px;
}

.island-map {
  margin-top: 30px;
  flex: 1 1 auto;
}

.island-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.island-body {
  margin-top: 30px;
}

.island-titles {
  flex: 750px;
  p {
    color: #888888;
  }
}

.island-owner-space {
  height: 15px;
}

.island-owner {
  flex: 250px;
  height: 150px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  h4 {
    font-size: 16px;
    font-weight: thin;
    color: #888888;
  }
}

.island-avatar {
  height: 100px;
  width: 100px;
  border: 1px solid #aaa;
  border-radius: 50%;
}

.island-review {
  margin-top: 30px;
}

#reviews {
  margin-top: 30px;
}

.map-window {
  h5 {
    font-size: 16px;
    font-weight: bold;
    line-height: 10px;
  }
  h6 {
    font-size: 12px;
    font-weight: thin;
  }
}

.map-window-button {
  border: 1px solid #6b7daf;
  background-color: #6b7daf;
  color: white;
  border-radius: 5px 5px 5px 5px;
  font-weight: thin;
  width: 100px;
  text-align: center;
  &:hover {
  opacity: 0.9;
  }
}
