<div class="footer">
  <div class="footer-links">
    <a href="http://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="http://instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="http://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="http://lebateau.herokuapp.com/" target="_blank"><i class="fas fa-ship"></i></a>
  </div>

  <div class="footer-wagon">
    <a  href="https://www.lewagon.com/buenos-aires" target="_blank">Powered by    <%= image_tag "lewagonicon2.png"%></a>
  </div>

  <div class="footer-copyright">
    <ul>
      <ol>Sponsored by  <i class="fab fa-cc-visa"></i> </ol>
      <ol>Miranda  <i class="fas fa-trademark"></i> </ol>
    </ul>
  </div>
</div>

