<div class="banner-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.mcm-backpacks.com/img/2018/08/top-holiday-destinations-beautiful-countries-favourite-destination-ten-unique-vacation-biggest-ist-the-world-cool-spots-beach-exciting-pretty-great-amazing-locations-recommended.jpg');">
          <div class="banner-content">
            <h1>Islanda</h1>
            <p>Renting islands</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>