.booking-container {
  padding: 20px;
  font-size: 12px;
  p {
   font-weight: bold;
   line-height: 4px;
  }
}

.booking-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  border: 3px solid #94ca82;
  color: #444444;
}

.booking-price-left {
  font-size: 26px;
  font-weight: bold;
}

.booking-price-right {
  font-size: 16px;
  font-weight: thin;
}

.booking-form {
  height: 160px;
  font-size: 12px;
}

.book-button {
  width: 100%;
  background-color: #6b7daf;
  height: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  border: 0;
  font-size: 16px;
}

.book-button:hover {
  opacity: 0.9;
}

.datepicker {
}
