.tabs {
  // background: #afc2d5;
  display: flex;
  // padding: 25px 25px 0px 25px;
  padding: 0px 0px 25px 25px;
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 20px;
  margin-top: 10px;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: #6b7daf;
  width: 200px;
  flex: 0 0 auto;
  text-align: center;
  padding: 0 10px 0 10px;
  padding: 0 10px 0 10px;
}
.tab:first-child {
  border-radius: 0 0 0 10px;
}
.tab:last-child {
  border-radius: 0 0 10px 0;
}
.tab.active {
  background: white;
  color: black;
  border-bottom: 3px solid #b7ddb5; 
}